<div class="navbar-spacer"></div>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a class="navbar-link" href="/">Home</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/about">About</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/lists">Lists</a>
            </li>
            {% if session.logged_in %}
                <li class="navbar-item" style="float:right">
                    <a class="navbar-link" href="/logout">Logout</a>
                </li>
                <li class="navbar-item" style="float:right">
                    <a class="navbar-link" href="/dashboard">Dashboard</a>
                </li>
            {% else %}
                <li class="navbar-item" style="float:right">
                    <a class="navbar-link" href="/register">Register</a>
                </li>
                <li class="navbar-item" style="float:right">
                    <a class="navbar-link" href="/login">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<br>