{% extends 'layout.html' %}
{% block body %}
<style>
    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        width: 100%;
    }
</style>
    <h4>Welcome, <small>{{session['user']}}</small></h4>
    <h5>My lists</h5>
    <table class="u-full-width">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
                <tr>
                    <td>{{list.idList}}</td>
                    <td>{{list.lis_title}}</td>
                    <td><a class="button" href="/edit_list/{{list.idList}}">Edit</a></td>
                    <td><button>Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="button" href="/add_list">Add a list</a>

    <h5>My calendars</h5>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
{% endblock %}