<!DOCTYPE html>
<html lang="en">

    <head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>pySOMETHING</title>
    <meta name="description" content="Simple Optimized Method Easing Task Handling In Normal Gravity">
    <meta name="author" content="Michael Strefeler">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png')}}">

    </head>

    <body>

        <!-- Primary Page Layout -->
        {% include 'includes/_navbar.html' %}
        <div class="container">
            {% include 'includes/_messages.html' %}
            <div class="row">
            {% block body %}{% endblock %}
            </div>
        </div>

        <!-- End Document -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/site.js')}}"></script>
    </body>

</html>